.card-container {
  overflow-x: scroll;
}
.blink {
  animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.card-image {
  position: relative;
}

.oneday_price {
  bottom: 14px;
  right: 15px;
  position: absolute;
  border-radius: 20px;
  background-color: white;
  padding: 5px 19px 5px 19px;
}
/* Custom styles for the tooltip */
.tooltip-custom {
  background-color: #333; /* Dark background for contrast */
  color: white;
  border-radius: 10px;
   /* Larger padding for bigger tooltip */
  font-size: 8px; /* Increased font size */
  font-weight: 600; /* Bold font */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 0.3s ease;
 
  word-wrap: break-word; /* Ensures long text breaks into multiple lines */
  width: 20px; /* Fixed width for the tooltip */
  height: 35px;
}

/* Tooltip arrow */
.tooltip-custom[data-popper-placement^="top"] .tooltip-arrow {
  border-top-color: #333; /* Match the background color */
}
