.oneday_price{
    /* border:2px black solid ; */
  border-radius:20px;
  background: rgb(241, 241, 124);
  padding: 7px 11px 7px 11px;
    
}
.card-container {
    overflow-x: scroll;
  }
   /* .card-container::-webkit-scrollbar {
    width: 0;
  } */
  .dicriptionPopup{
    background: rgba(249, 247, 247, 0.9);
    height: 60%;
    width:65% ;
    border:2px black solid;
    border-radius: 20px;

    position: fixed;
    top:50%;
    left:50% ;
     transform: translate(-50%,-50%); 
  
   z-index:1000;
  }