*{
  
}
.img {
    height: 5rem;
    width: 15rem;
  }
  @media (max-width: 320px) {
    .img {
      height: 5rem;
      width: 14rem;
    }
  }
  .box {
  
    background-color: rgb(236, 236, 234);
  }
  .nav {
    /* padding-left: 3rem; */
  }
  .nav-link {
    font-size: x-large;
    margin: 1rem;
    font-weight: 400;
    border-bottom: 4px solid rgb(236,236,234)
  }
  .nav-link:hover{
    border-bottom: 4px solid rgb(244, 10, 10);
  }
  @media (max-width: 1200px) {
    .nav-link {
      font-size: x-large;
      margin: 0.4rem;

    }
  }
  .contain {

  background: rgb(236, 236, 234);
  }

  .btn_sign{  
    height: 2.1rem;

    font-weight: 500;
    border-radius: 1.2rem;}
  @media (max-width:992px) {
    .navbar-collapse {
      align-items:start;
      flex-direction: column
    }
   
  }
    