
  .Login-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    z-index: 1000;
  }
  
/* Container for the popup */
.login-popup-container {
  
  width: clamp(330px, 23vw, 400px);
  background-color: white;
  color: #808080;
  gap: 24px;
  padding: 25px 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

/* Title section */
/* .login-popup-titel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
} */

.login-popup-titel h2 {
  font-size: 2rem;
}

/* Input fields */
.login-popup-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-popup-inputs input {
  border: 1px solid #ddd;
  outline: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
}

/* Button styling */
.Sign_button {
  border: none;
  padding: 10px;
  color: white;
  background-color: #ff6347;
  font-size: 16px;
  width:17rem;
  border-radius: 25px;
  cursor: pointer;
}

.Sign_button:hover {
  background-color: #ff5533;
}

/* Checkbox section */
.login-popup-condtation {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-top: -15px;
}

.login-popup-condtation input {
  cursor: pointer;
  margin-top: 5px;
}

.login-popup-condtation p {
  font-size: 14px;
}

/* Link section */
.login-popup-inputs span {
  cursor: pointer;
  color: #ff6347;
  font-weight: 500;
}

.login-popup-inputs span:hover {
  text-decoration: underline;
}
.mx-1 {
  margin-right: .25rem !important;
  margin-left: 1.25rem !important;
}
/* body {
    overflow: hidden; 
} */

.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(8px); /* Adjust the blur intensity */
    z-index: 999; /* Make sure this is below the SignPage */
}
