@media (min-width: 992px) {
  .media_text {
    display: flex;
    padding-top: 0.5rem;
  }
}

.btn_footer:hover {
  background: green;

}

:root {
  --fs-6: "14px";
}
.bg-color {
  background: rgb(236, 236, 234);
}
.text-reset {
  text-decoration: none;
}

.text-reset:hover {
  text-decoration: underline;
}
