.userLebal {
  border-radius: 30px;
}
.user-info {

    border-radius: 30px;
    transition: all 0.1s;
}
.user-info:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    transform: scale(1.01);
    cursor: pointer;
    
}

